include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/statscharts *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/statscharts/migration *.ini *.py *.mako
