{% set stats = h.get_site_statistics() %}
{% set groups = h.get_featured_groups(stats['group_count']) %}
{% set colors = ['#6dd4cd', '#d0f582', '#97dbfa', '#fb8183', '#6e848e', '#31a2f9', '#37e6a8', '#fdbb49', '#f9b2b3', '#9697d6', '#e58bb8', '#d84a53', '#bdc153', '#70b57d', '#478dc6'] %}
{% set colors_org = ['#ff5733', '#33ff57', '#3357ff', '#ff33a1', '#a133ff', '#33ffdd', '#ffaa33', '#88cc00', '#00cc88', '#cc0088', '#8800cc', '#cc4400', '#00cc44', '#4488cc', '#cc8844'] %}
{% set orgs = h.get_featured_organizations(stats['organization_count']) %}

<div style="display: flex; justify-content: center; align-items: start; margin: 10px; background-color: #f0f0f0; padding: 20px;">
    <div class="row container center" style="display: flex; justify-content: space-between; width: 90%; max-width: 1200px;">
        <div class="col" style="display: flex; flex-direction: column; align-items: center; flex: 1; margin: 0px;">
            <div class="card" style="background-color: white; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); padding: 20px; box-sizing: border-box; width: 100%; text-align: center; height: 210px; background-image: linear-gradient(#3A3F6B, #717BD1)">
                <h1 style="color: #FFFFFF">{{ _('Users') }}</h1>
                <div class="d-flex justify-content-between" style="margin-top: 45px">
                    <h1 style="color: #FFFFFF">{{ sysadmins|length }}</h1>
                    <i class="fa-solid fa-user fa-3x"></i>
                </div>
            </div>
            <div class="card" style="background-color: white; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); padding: 20px; box-sizing: border-box; width: 100%; text-align: center; height: 210px; background-image: linear-gradient(#3A3F6B, #717BD1)">
                <h1 style="color: #FFFFFF">{{ _('Visitors') }}</h1>
                <div class="d-flex justify-content-between" style="margin-top: 45px">
                    <h1 style="color: #FFFFFF">{{ h.thai_gdc_get_stat_all_view() }}</h1>
                    <i class="fa-solid fa-eye fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="col" style="display: flex; flex-direction: column; gap: 20px; flex: 1; margin: 0px;">               
            <div class="card" style="background-color: white; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); padding-top: 20px; padding-bottom: 20px; padding-left: 15px;padding-right: 15px; box-sizing: border-box; width: 100%; height: 420px; background-image: linear-gradient(#3A3F6B, #717BD1)">
                <h2 style="color: #FFFFFF">{{ _('Dataset by Group') }}</h2>
                <div id="datasetByGroup" style="width: 100%; height: 200px; margin: 0 auto;"></div>
                <div class="list" style="margin: 0; padding: 0">                 
                    {% snippet 'home/snippets/group_under_graph.html', stats=stats, groups=groups, colors=colors %}              
                </div>
            </div>
        </div>
        <div class="col" style="display: flex; flex-direction: column; gap: 20px; flex: 1; margin: 0px;">
            <div class="card" style="background-color: white; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); padding-top: 20px; padding-bottom: 20px; padding-left: 15px;padding-right: 15px; box-sizing: border-box; width: 100%; height: 420px; background-image: linear-gradient(#3A3F6B, #717BD1)">
                <h2 style="color: #FFFFFF">{{ _('Dataset by Organization') }}</h2>
                <div id="datasetByOrg" style="width: 100%; height: 350px; margin: 0 auto;"></div>
                <div class="list" style="margin: 0; padding: 0">         
                    {% snippet 'home/snippets/organize_under_graph.html', stats=stats, orgs=orgs, colors=colors_org %}               
                </div> 
            </div>
        </div>
    </div>
</div> 

<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
function drawCharts(){
    Highcharts.chart('datasetByGroup', {
        chart: {
            type: 'pie',
            borderRadius: '20px',
            spacing: [20, 20, 20, 20],
            backgroundColor: '',
            height: 200,
        },
        title: {
            text: '<div class="iconGroup"><i class="fa-solid fa-layer-group fa-flip fa-4x" style="--fa-animation-duration: 20s; color: white"></i></div>',
            floating: true,
            useHTML: true,
            y: 67,
            x: 0,
        },
        subtitle: {
            text: ''
        },
        series: [{
            colorByPoint: true,
            data: [
                {% for group in groups %}
                {
                    name: '{{ group.title or group.name }}',
                    y: {{ group.package_count }},
                },
                {% endfor %}
            ],
            showInLegend: false
        }],
        tooltip: {
            formatter: function () {
                return '' + this.point.name + ' ( ' + this.y + ' ) ';
            },
            style: {
                fontSize: '18px', // Increase font size
                padding: '10px' // Increase padding
            },
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                
                dataLabels: {
                    enabled: false,
                    formatter: function () {
                        return '<b>' + this.point.name + '</b> :' + this.y;
                    }
                },
                size: 155,
                center: ['50%', '50%'],
                selected: false,
                innerSize: 100,
                showInLegend: false,
                colors: ['#6dd4cd', '#d0f582', '#97dbfa', '#fb8183', '#6e848e', '#31a2f9', '#37e6a8', '#fdbb49', '#f9b2b3', '#9697d6', '#e58bb8', '#d84a53', '#bdc153', '#70b57d', '#478dc6'],
            }
        },
        exporting: {
            enabled: false
        },
        credits: {
            enabled: false
        }
    });

    Highcharts.chart('datasetByOrg', {
        chart: {
            type: 'pie',
            borderRadius: '20px',
            spacing: [20, 20, 20, 20],
            backgroundColor: '',
            height: 200,
        },
        title: {
            text: '<div class="iconOrg"><i class="fa-solid fa-building fa-flip fa-4x" style="--fa-animation-duration: 20s; color: white"></i></div>',
            floating: true,
            useHTML: true,
            y: 67,
            x: 0,
        },
        subtitle: {
            text: ''
        },
        series: [{
            colorByPoint: true,
            data: [
                {% for org in orgs %}
                {
                    name: '{{ org.title or org.name }}',
                    y: {{ org.package_count }},
                },
                {% endfor %}
            ],
            showInLegend: false
        }],
        tooltip: {
            formatter: function () {
                return '' + this.point.name + ' ( ' + this.y + ' ) ';
            },
            style: {
                fontSize: '18px', // Increase font size
                padding: '10px' // Increase padding
            },
        },
        plotOptions: {
            pie: {
                allowPointSelect: false,
                
                dataLabels: {
                    enabled: false,
                    formatter: function () {
                        return '<b>' + this.point.name + '</b> :' + this.y;
                    }
                },
                size: 155,
                center: ['50%', '50%'],
                selected: false,
                innerSize: 100,
                showInLegend: false,
                colors: ['#ff5733', '#33ff57', '#3357ff', '#ff33a1', '#a133ff', '#33ffdd', '#ffaa33', '#88cc00', '#00cc88', '#cc0088', '#8800cc', '#cc4400', '#00cc44', '#4488cc', '#cc8844'] ,
            }
        },
        exporting: {
            enabled: false
        },
        credits: {
            enabled: false
        }
    });
}

document.addEventListener('DOMContentLoaded', function () {
    setTimeout(drawCharts, 100); // Delay to ensure proper dimensions
    window.addEventListener('resize', drawCharts);
});
</script>

<style>
/* Media query for mobile screens */
@media (max-width: 767px) {
    #datasetByGroup, #datasetByOrg {
        height: 250px; /* Increase the height for mobile screens */
    }
}
</style>

