{% if g.search_background %}
  {% set background = g.search_background %}
{% else %}
  {% set background = '/base/images/bg-banner.jpg' %}
{% endif %}

<style>
  .homepage .stats ul li {
    float: center;
    width: 33%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>
<div role="main" class="hero" style="background-image: url('{{ background }}')">
    <div class="container">
        <div class="center">
          <div class="main-search" style="position: unset;">
            {% block search %}
              {% snippet 'home/snippets/search.html' %}
            {% endblock %}
            <br />
          </div>
        </div>
      </div>
</div>
<div role="main">
 
  {% block promoted %}
              {% snippet 'home/snippets/promoted.html' %}
            {% endblock %}
  {% block dashboardStats%}
              {% snippet 'home/snippets/dashstats.html', sysadmins=sysadmins %}
  {% endblock %}
</div>
{% block layout_extra %}
  {% set event_conf = h.gdc_agency_get_conf_group('EVENT') %}
  {% if event_conf.EVENT_PUBLIC and event_conf.EVENT_PUBLIC == 'True' %}

      {% if event_conf.EVENT_IMAGE %}
      <div class="modal fade" id="homeEventModal" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <img src="{{event_conf.EVENT_IMAGE}}" style="width:100%" alt="event popup banner image">
                  </div>
                  {% if event_conf.EVENT_URL and event_conf.EVENT_URL != '' %}
                  <div class="modal-footer">
                      <a href="{{event_conf.EVENT_URL}}" class="btn btn-success" target="_blank">
                          {{event_conf.EVENT_TEXT if event_conf.EVENT_TEXT else 'เพิ่มเติม'}}
                      </a>
                  </div>
                  {% endif %}
              </div>
          </div>
      </div>

<script>
    setTimeout(() => {
        $("#homeEventModal").modal('show');
    }, 500)

</script>
      {% endif %}
  {% endif %}
{% endblock %}
